:root {
  --active: rgba(89, 223, 233, 0.144);
  --textColor: rgb(61, 55, 55);
  --primary-color: rgba(13, 143, 187, 0.685);
  --primary-bg-color: rgba(25, 128, 85, 0.26);
  --background-color: rgba(13, 143, 187, 0.26);
  --primary-color-dark: rgba(22, 105, 133, 0.973);
  --image-background: #d5f2fd;
  --border-color-2: #d5f2fd;
  --active-color: rgba(39, 156, 39, 0.575);
  --border-color: #e8f8fe;
  --fontFamily: Roboto, Arial, sans-serif;
}

.container {
  margin: 1rem;
}
